body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing{
  background-image: url('../public/assets/picture1.jpg'); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  font-family: 'Gabriela', serif;
  padding:16%;
  display: inline-block;
}

